In [42]:
import pandas as pd
import getpass
import numpy as np
from sklearn import tree

In [43]:
#Information for Postgress DB
print('Standard for our group is "wine-quality"')
db_name = getpass.getpass('Database Name')
print('Class Standard is "postgres"')
username = getpass.getpass('Database Username')
print ('Password for your local PGAdmin')
password = getpass.getpass('Database Password')

Standard for our group is "wine-quality"
Database Name········
Class Standard is "postgres"
Database Username········
Password for your local PGAdmin
Database Password········

In [44]:
print(password)

databasepassword

In [9]:
#Pull Wine Data from local postgres DB
reds_df = pd.read_sql_table("red_wines", f'postgresql://{username}:{password}@localhost/{db_name}')
whites_df = pd.read_sql_table("white_wines", f'postgresql://{username}:{password}@localhost/{db_name}')
wine_df = pd.read_sql_table("wines", f'postgresql://{username}:{password}@localhost/{db_name}')

In [14]:
wine_df.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,ph,sulphates,alchohol,quality,wine_type,id
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,Red,1
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,Red,2
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,Red,3
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,Red,4
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,Red,5

In [20]:
#This would be classifying them into written category names
#reds_df["Quality Category"]=np.where(reds_df['quality']>7,'Great',(np.where(reds_df['quality']<5,'Bad','Good')))

#Adding them to boolean category 1 == Good, 0 == Bad
reds_df['Quality Category']=np.where(reds_df['quality']>4,1,0)

In [21]:
reds_df.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,ph,sulphates,alchohol,quality,wine_type,Quality Category
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,Red,1
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,Red,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,Red,1
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,Red,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,Red,1

In [36]:
target = reds_df['Quality Category']
target_names = ["Bad", "Good"]

red_data = reds_df.drop(['Quality Category','wine_type','quality'], axis=1)

feature_names = red_data.columns
red_data.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,ph,sulphates,alchohol
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

In [37]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(red_data, target, random_state=42)

In [38]:
#Decision Tree Classifier
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.9375

In [40]:
#Random Forrest Classifier
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.965

In [41]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.1333952627307734, 'volatile_acidity'),
 (0.10115368396918205, 'sulphates'),
 (0.0967904183662716, 'ph'),
 (0.09021395830943124, 'alchohol'),
 (0.08938168345735116, 'fixed_acidity'),
 (0.0881929678088915, 'residual_sugar'),
 (0.08810185855317972, 'total_sulfur_dioxide'),
 (0.08717788845552019, 'density'),
 (0.0843493987366189, 'chlorides'),
 (0.07680022422303924, 'citric_acid'),
 (0.064442655389741, 'free_sulfur_dioxide')]